apiVersion: apps/v1
kind: Deployment
metadata:
  name: buildkit
  namespace: buildkit
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: buildkit
  template:
    metadata:
      labels:
        app: buildkit
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- with .Values.deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: buildkit
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
          - --addr
          - unix:///run/buildkit/buildkitd.sock
          - --addr
          - tcp://0.0.0.0:1234
          {{- if .Values.buildkit.debug }}
          - --debug
          {{- end }}
          {{- range .Values.buildkit.extraArgs }}
          - {{ . }}
          {{- end }}
        ports:
        - containerPort: 1234
          name: buildkit
          protocol: TCP
        {{- with .Values.securityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: buildkit-storage
          mountPath: {{ .Values.buildkit.rootDir }}
      volumes:
      - name: buildkit-storage
        {{- if .Values.storage.pvc.enabled }}
        persistentVolumeClaim:
          claimName: buildkit-storage
        {{- else }}
        emptyDir: {}
        {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
