argo-cd:
  configs:
    params:
      server.disable.auth: true
      server.insecure: true
  server:
    extraArgs:
      - --insecure
    ingress:
      enabled: false
    ingressGrpc:
      enabled: false

  repoServer:
    rbac:
      - verbs: ["get", "list", "watch"]
        apiGroups: [""]
        resources: ["secrets", "configmaps"]
